body {
    font-family: sans-serif;
}

button {
    background-color: #ffffff;
    border: 1px solid #0e0e0e;
    border-radius: .28rem;
    margin: 5px;
    padding: 2px;
}

button:active {
    background-color: #efefef;
}

button:disabled {
    background-color: #afafaf;
}

form label {
    display: inline-block;
    width: 20%;
}

input {
    border: 1px solid #afafaf;
    border-radius: .28rem;
    margin: 5px;
    padding: 2px;
}

select {
    border: 1px solid #afafaf;
    border-radius: .28rem;
    margin: 5px;
    padding: 2px;
}

table {
    border-spacing: 0;
    overflow: hidden;
    table-layout: fixed;
    text-overflow: ellipsis;
}

th {
    background-color: #f9fafb;
    border-left: 1px solid rgba(34, 36, 38, .15);
    border-top: 1px solid rgba(34, 36, 38, .15);
    overflow: hidden;
    padding: 5px 5px 5px .8em !important;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th:first-child {
    border-top-left-radius: .28rem;
}

th:last-child {
    border-right: 1px solid rgba(34, 36, 38, .15);
    border-top-right-radius: .28rem;
}

td {
    border-left: 1px solid rgba(34, 36, 38, .15);
    border-top: 1px solid rgba(34, 36, 38, .15);
    padding: 8px;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

td:last-child {
    border-right: 1px solid rgba(34, 36, 38, .15);
}

tr:last-child td {
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}

tr:last-child td:first-child {
    border-bottom-left-radius: .28rem;
}

tr:last-child td:last-child {
    border-bottom-right-radius: .28rem;
}

.loader {
    border-top: 8px solid #d35667;
    border-right: 8px solid #82d8d6;
    border-bottom: 8px solid #f18a4c;
    border-left: 8px solid #fcd25c;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: .28rem;
    width: 40%;
    box-shadow: 5px 5px 5px #5e5e5e;
}
